<section class="row content center vert-pad">
    <article class="card third">
        <h3>Finanzas Mercado Merx</h3>
        <img src="{{ url_for('static', filename='img/merx_principal.png') }}" width=100% hight=100% class="blog-img" />
    </article>
    <article class="card third">
        <h3>Trafíco Call Center</h3>
        <img src="{{ url_for('static', filename='img/trafico_inb_call_center.png') }}" width=100% hight=100% class="blog-img" />
    </article>
    <article class="card third">
        <h3>Reporte Pedidos y Proveedores</h3>
        <img src="{{ url_for('static', filename='img/pedidos_proveedores_pag1.png') }}" width=100% hight=100% class="blog-img" />
    </article>
</section>
