<section class="row content center vert-pad">
    <article class="card third">
        <h3 class="center">Finanzas Mercado Merx</h3>
        <div class="center"><img src="{{ url_for('static', filename='img/merx_principal.png') }}" class="blog-img" />
        </div>
    </article>

    <article class="card third">
        <h3 class="center">Reporte Pedidos y Proveedores</h3>
        <div class="center"><img src="{{ url_for('static', filename='img/pedidos_proveedores_pag1.png') }}"
                class="blog-img" /></div>
    </article>

    <article class="card third">
        <h3 class="center">Dashboard Financiero</h3>
        <div class="center"><img src="{{ url_for('static', filename='img/Finanzas.png') }}"
                class="blog-img" /></div>
    </article>
</section>