<div class='center'>
    <div class='row'>
        <h3>Contáctame ;)</h3>
    </div>
</div>
<div class='center full-width'>
    <div>
        <p>También puedes seguirme en mis reder sociales</p>
    </div>
</div>
<div class='center full-width social-links'>
    <div class='row'>
        <a target='_blank' href='https://www.facebook.com/alberto.rodriguez.52459/'><img class='social icon'
                src="{{ url_for('static', filename='img/facebook.jpg') }}"></a>
        <a target='_blank' href='https://www.instagram.com/albertorc96/'><img class='social icon'
                src="{{ url_for('static', filename='img/instagram.jpg') }}"></a>
        <a target='_blank' href='https://github.com/Alberto96-star/'><img class='social icon'
                src="{{ url_for('static', filename='img/github_icon_blue.png') }}"></a>
    </div>
</div>
<div class='made-with'>
    <div class'row'> Hecho por Alberto Rodríguez</div>
</div>
