{% extends "base.html" %}

{% block title %}Proyectos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/galery.css') }}">
{% endblock %}

{% block content %}
<section class="card third">
    <h2 class="center">Comercio Merx</h2>
    <article class="center galery">
        <img src="{{ url_for('static', filename='img/merx_principal.png') }}" class="galery-img" />
        <img src="{{ url_for('static', filename='img/merx_pag2.png') }}" class="galery-img" />
    </article>
</section>

<section class="card third">
    <h2 class="center">Pedidos y Proveedores</h2>
    <article class="galery">
        <img src="{{ url_for('static', filename='img/pedidos_proveedores_pag1.png') }}" class="galery-img" />
        <img src="{{ url_for('static', filename='img/pedidos_proveedores_pag2.png') }}" class="galery-img" />
    </article>
</section>

<section class="card third">
    <h2 class="center">Dashboard Financiero</h2>
    <article class="galery">
        <img src="{{ url_for('static', filename='img/Finanzas.png') }}" class="galery-img" />
    </article>
</section>

<section class="card third">
    <h2 class="center">Tráfico Call Center</h2>
    <article class="galery">
        <img src="{{ url_for('static', filename='img/trafico_inb_call_center.png') }}" class="galery-img" />
    </article>
</section>
{% endblock %}